.header	{

	margin-bottom: 15px;
	height: 50px;
	background: var(--color-violet-light);
	border-bottom: 2px solid var(--color-violet);

	@media (min-width: 768px) {
		height: 100px;
	}

	.container {
		height: 100%;
	}

	.navbar {
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.logo {
		display: none;
		color: #fff;
		font-size: var(--title-size-xl);
		font-weight: bold;
		margin-top: -12px;
		text-shadow: 2px 2px var(--color-violet);
		transition: .2s color;

		&:hover {
			color: var(--color-yellow);
		}

		@media (min-width: 768px) {
			display: block;
		}
	}

	.header-menu {
		width: 100%;
		height: calc(100vh - 50px);
		padding-bottom: 10vh;
		position: absolute;
		z-index: 3;
		top: 50px;
		left: -200vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 20px;
		background: var(--color-violet-light);
		transition: .2s;

		@media (min-width: 768px) {
			position: relative;
			top: auto;
			left: 0;
			flex-direction: row;
			justify-content: flex-start;
			gap: 40px;
			width: auto;
			height: 100%;
			padding-bottom: 0;
			border-top: 1px solid transparent;
		}

		&.active {
			left: 0;
		}

		&__link {
			text-decoration: none;
			color: #fff;
			font-weight: bold;
			font-size: var(--title-size-s);
			text-shadow: 1px 1px var(--color-violet);
			transition: .2s color;

			&:hover {
				color: var(--color-yellow);
			}

			&.premium {
				display: none;
			}

			@media (min-width: 768px) {
				font-size: var(--text-size-xl);

				&.premium {
					width: auto;
					height: auto;
					display: block;
					padding: 5px 44px 7px 15px;
					border-radius: 10px;
					background-color: var(--color-violet);
					background-position: 90% center;
					color: var(--color-yellow);
					border: 1px solid var(--color-violet);

					&:hover {
						background-color: var(--color-pink);
					}
				}
			}
		}


	}

	.premium {
		width: 20px;
		height: 18px;
		position: relative;
		z-index: 3;
		background: url('../images/dest/icons/brilliant.svg') no-repeat;
	
		@media (min-width: 768px) {
			display: none;
		}
	}
}