.section-offer {

	.container {
		padding: 0;
	}

	.timer {
		
		justify-content: space-between;
		align-items: center;
		padding: 12px;
		margin-top: 30px;
		border-radius: 10px;
		background: var(--color-pink);
		
		display: none;

		@media (min-width: 768px) {
			display: flex;
			gap: 0px;
			flex-wrap: wrap;
		}

		@media (min-width: 990px) {
			flex-wrap: nowrap;
			gap: 30px;
		}	

		&__title {
			font-size: var(--title-size-l);
			color: var(--color-yellow);
			text-shadow:
			 	2px 0 2px var(--color-violet), 
				0 2px 2px var(--color-violet), 
				-1px 0 1px var(--color-violet), 
				0 -1px 1px var(--color-violet);

			@media (min-width: 768px) {
				flex: 0 0 100%;
			}

			@media (min-width: 990px) {
				flex: 0 0 auto;
			}			
		}

		&__text {
			font-weight: bold;
			color: #fff;
			text-shadow:
			 	2px 0 2px var(--color-violet), 
				0 2px 2px var(--color-violet), 
				-1px 0 1px var(--color-violet), 
				0 -1px 1px var(--color-violet);

			@media (max-width: 990px) {
				font-size: var(--title-size-s);
			}
		}

		&__nums {
			width: 238px;
			height: 56px;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 10px;
			background: #fff;
			border-radius: 5px;
			font-size: var(--title-size-l);

		}

		&__hour,
		&__min,
		&__sec,
		&__sepor {
			&.warning {
				color: red;
			}
		}
	}

	.offer {
		margin-bottom: 14px;
		
		@media (min-width: 1200px) {
			display: flex;
			column-gap: 30px;
			flex-wrap: wrap;
			padding-top: 25px;
		}

		.slick-list {
			padding-top: 25px;
		}

		.slick-track {
			@media (min-width: 376px) {
				margin-left: -10px;
			}
			
		}

		&__item {

			width: calc(100% - 20px);
			margin: 0 0 10px 20px;
			padding-bottom: 15px;
			position: relative;
			display: flex;
			height: 90px;
			padding-right: 20px;
			border-radius: 10px;
			border: 2px solid var(--color-violet-light);
			color: #000;
			background: var(--color-violet-light);
			transition: .2s background;

			&:hover {

				.offer__button {
					background: var(--color-yellow);
					color: #000;
				}

			}

			@media (min-width: 376px) {
				height: 120px;
				padding: 15px;
				display: flex;
				flex-direction: column;
				gap: 10px;
				background: rgba(149, 100, 170, 0.1);

				&:hover {
					background: var(--color-violet-light);

					.offer__credits {
						color: #fff;
					}

					&::before {
						display: flex;
					}
				}
			}

			@media (min-width: 1200px) {
				margin: 0 0 15px 0;
				width: calc((100% - 120px) / 5);
			}
		
			&::before {
				position: absolute;
				top: calc(50% - 30px);
				left: -20px;
				display: flex;
				justify-content: center;
				align-items: center;
				content: 'One time offer!';
				width: 123px;
				height: 23px;
				border-radius: 5px;
				color: #000;
				font-size: var(--text-size-l);
				font-weight: bold;
				background: var(--color-yellow);

				@media (min-width: 376px) {
					display: none;
					top: -12px;
    				left: calc(50% - 60px);
				}
			}

			&.super-offer {
				border-color: var(--color-warm);
				background: var(--color-warm);

				&:hover {
					background: var(--color-warm);
				}

				@media (min-width: 376px) {
					background: rgba(170, 100, 100, 0.2);
				}

				@media (min-width: 1200px) {
					flex-direction: row;
					justify-content: center;
					align-items: center;
					gap: 40px;
					width: 100%;
					flex: 0 0 100%;

					.offer__price {
						flex: 0;
					}

					.offer__button {
						width: 185px;
						flex: 0 0 185px;
					}
					
				}

				&::before {
					content: 'Super offer!';
				}
			}

		} // &__item

		&__price {
			width: 100%;
			display: flex;
			align-items: flex-end;
			justify-content: flex-end;

			@media (min-width: 376px) {
				flex: 1;
				justify-content: center;
			}
		}	

		&__credits {
			margin-right: 5px;
		}

		&__credits,
		&__value {
			color: #fff;
			font-size: var(--title-size-m);
			font-weight: bold;

			@media (min-width: 376px) {
				color: #000;
			}
		}	

		&__value {
			@media (min-width: 376px) {
				display: none;
			}
		}

		&__icon {
			width: 18px;
			height: 18px;
			flex: 0 0 18px;
			padding-top: 1px;
			margin-right: 5px;
			margin-bottom: 5px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 100%;
			font-size: 8px;
			font-weight: bold;
			text-transform: uppercase;
			background: var(--color-yellow);
		} 

		&__button {
			width: 100%;
			height: 50px;
			border-radius: 5px;
			justify-content: center;
			align-items: center;
			font-weight: 500;

			display: none;


			@media (min-width: 376px) {
				display: flex;
				flex: 0 0 50px;
				background: #fff;
				color: #ccc;

				&:hover {
					background: var(--color-yellow);
					color: #000;
				}
			}

		}

	} // offer

	.button-try {
		width: 100%;
		height: 55px;
		margin: 0 auto 15px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: bold;
		border-radius: 10px;
		background: var(--color-yellow);

		@media (min-width: 576px) {
			display: none;
		}
	}

	.terms-privacy {
		display: flex;
		gap: 10px;
		margin-bottom: 30px;

		font-size: var(--text-size-xs);
		line-height: 16px;

		a {
			font-size: var(--text-size-xs);
			color: var(--color-violet-light);
		}

		input {
			display: none;

			&:checked + label::after {
				display: block;
			}
		}

		&__checkbox {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 20px;
			height: 20px;
			flex: 0 0 20px;
			border-radius: 5px;
			background: var(--color-violet-light);
			
			&::after {
				display: none;
				content: '';
				width: 12px;
				height: 8px;
				background: url('../images/dest/icons/check.svg') no-repeat;
			}

			&:checked {
				&::after {
					display: block;
				}
			}
		}
	}

	.slick-dots {
	
		display: flex;
		justify-content: center;
		gap: 7px;

		li {
			display: flex;
			width: 9px;
			height: 9px;
			border-radius: 9px;
			border: 1px solid transparent;
			background: var(--color-yellow);

			&.slick-active {
				border-color: var(--color-violet-light);
			}
		}

		button { display: none; }
	}

}